<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="xyz.edsync.quiz_game">

    <application>
        <activity
            android:name=".feature.menu.MainActivity"
            android:exported="false"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.TosCompose" />
    </application>

</manifest>